:root {
  --main-color: #22253B;
  --orange: #F15525;
  --blue: #38BFF2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  padding-top: 24px;
  background: #F9F8FD;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Glory", sans-serif;
  font-optical-sizing: auto;
  color: var(--main-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color 0.5s;
  color: inherit;
}
@media (hover: hover) {
  a:hover {
    color: var(--orange);
  }
}

header, main, footer {
  max-width: 1160px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 75px;
  padding: 11px 33px 15px 34px;
  margin-bottom: 23px;
}
header .navigation {
  display: flex;
  align-items: center;
  gap: 49px;
}
header .logo {
  width: 64px;
}
header ul {
  display: flex;
  align-items: center;
  gap: 41px;
}
header ul li:nth-last-of-type(1) {
  display: none;
}
@media all and (max-width: 990px) {
  header ul {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
  }
  header ul li:nth-last-of-type(1) {
    display: block;
  }
}
header nav a {
  font-size: 13px;
  line-height: 104%;
  text-decoration: none;
}
header nav .closeMenu {
  display: none;
}
@media all and (max-width: 990px) {
  header nav {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: 0;
    z-index: 3;
    background: #FFFFFF;
    padding: 80px 43px 0;
    width: 100%;
    height: 100%;
    transform: translateX(200%);
    transition: transform 0.5s;
  }
  header nav.active {
    transform: translateX(0);
  }
  header nav a {
    font-weight: 500;
    font-size: 20px;
  }
  header nav .closeMenu {
    display: block;
    position: absolute;
    top: 30px;
    right: 32px;
  }
}
header .phone {
  line-height: 23px;
  color: var(--blue);
}
@media all and (max-width: 768px) {
  header .phone {
    font-size: 14px;
  }
}
header .burger {
  display: none;
  position: relative;
  align-items: center;
  width: 17px;
  height: 14px;
}
@media all and (max-width: 990px) {
  header .burger {
    display: grid;
  }
}
header .burger span, header .burger span:before, header .burger span:after {
  display: block;
  background: var(--orange);
  width: 100%;
  height: 2px;
  border-radius: 21px;
}
header .burger span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
header .burger span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media all and (max-width: 1366px) {
  main {
    padding: 0 10px;
    gap: 30px;
  }
}

section {
  border-radius: 40px;
  overflow: hidden;
}
@media all and (max-width: 768px) {
  section {
    border-radius: 20px;
  }
}

.swiper {
  width: 100%;
}
.swiper .navBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 100%;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  transition: background 0.5s;
}
@media all and (max-width: 768px) {
  .swiper .navBtn {
    display: none;
  }
}
.swiper .navBtn.button-next {
  left: auto;
  right: 24px;
  transform: translateY(-50%) rotate(180deg);
}
.swiper .navBtn svg {
  fill: var(--main-color);
  transition: fill 0.5s;
}
@media (hover: hover) {
  .swiper .navBtn:hover {
    background: var(--orange);
  }
  .swiper .navBtn:hover svg {
    fill: #FFFFFF;
  }
}

.swiper-slide .innerSlideWrapper {
  padding: 60px 77px 56px 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 24px;
  color: #fff;
  background: url("../img/mainSectionBg.jpg") no-repeat center;
}
@media all and (max-width: 990px) {
  .swiper-slide .innerSlideWrapper {
    flex-direction: column;
    background: url("../img/mainSectionBgMobile.jpg") no-repeat bottom;
    background-size: cover;
  }
}
@media all and (max-width: 768px) {
  .swiper-slide .innerSlideWrapper {
    padding: 32px 3px 44px;
    gap: 31px;
  }
}

button {
  border-radius: 82px;
  background: var(--orange);
  padding: 27px 38px 27px 45px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 97%;
  letter-spacing: -0.03px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: background 0.5s;
}
@media (hover: hover) {
  button:hover {
    background: var(--blue);
  }
}

@media all and (max-width: 990px) {
  .preview .leftSide {
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .preview .rightSide img {
    width: 210px;
  }
}
.preview h2 {
  font-weight: 500;
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 24px;
  color: var(--main-color);
}
@media all and (max-width: 1366px) {
  .preview h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media all and (max-width: 768px) {
  .preview h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .preview h2 b {
    font-style: italic;
  }
  .preview h2 span {
    display: none;
  }
}
.preview h2 span {
  color: var(--orange);
}
.preview h2:after {
  content: "";
  background: #DEDEDE;
  display: block;
  width: 365px;
  max-width: 100%;
  height: 1px;
  margin-top: 24px;
}
@media all and (max-width: 768px) {
  .preview h2:after {
    margin-top: 16px;
    width: auto;
  }
}
.preview p {
  line-height: 23px;
  margin-bottom: 16px;
  color: var(--main-color);
}
@media all and (max-width: 768px) {
  .preview p {
    font-size: 12px;
    line-height: 18px;
    max-width: 270px;
    margin: 0 auto 16px;
  }
}

.infoBlock h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 46px;
  margin: 0 auto 34px;
  text-align: center;
  max-width: 600px;
}
@media all and (max-width: 768px) {
  .infoBlock h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
  }
}
.infoBlock .infoBlockList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
}
@media all and (max-width: 768px) {
  .infoBlock .infoBlockList {
    gap: 10px;
  }
}
.infoBlock .infoBlockItem {
  padding: 50px 35px 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 30px;
  background: #EAF2F5;
}
.infoBlock .infoBlockItem img {
  margin-bottom: 19px;
}
.infoBlock .infoBlockItem p {
  line-height: 18.5px;
  text-align: center;
  margin-bottom: 10px;
}
.infoBlock .infoBlockItem p:nth-last-of-type(1) {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 0;
}
@media all and (max-width: 768px) {
  .infoBlock .infoBlockItem {
    padding: 24px 7px 20px;
    border-radius: 20px;
    width: 145px;
  }
  .infoBlock .infoBlockItem img {
    width: 40px;
    margin-bottom: 9px;
  }
  .infoBlock .infoBlockItem p {
    font-size: 12px;
    line-height: 12px;
  }
  .infoBlock .infoBlockItem p:nth-last-of-type(1) {
    font-size: 9px;
    line-height: 12px;
  }
}
@media all and (max-width: 320px) {
  .infoBlock .infoBlockItem:nth-last-of-type(1) {
    width: 100%;
    flex-direction: row;
    padding: 19px 47px 19px 45px;
    gap: 17px;
  }
  .infoBlock .infoBlockItem:nth-last-of-type(1) .lastItem p {
    text-align: left;
  }
}

.helpAndSupport {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.helpAndSupport .info {
  display: flex;
  gap: 32px;
}
@media all and (max-width: 1366px) {
  .helpAndSupport .info {
    flex-direction: column;
    align-items: center;
  }
  .helpAndSupport .info:nth-last-of-type(1) {
    flex-direction: column-reverse;
  }
  .helpAndSupport .info img {
    width: fit-content;
    max-width: 100%;
  }
}
@media all and (max-width: 768px) {
  .helpAndSupport .info {
    gap: 12px;
  }
}
.helpAndSupport .infoTextArea {
  padding: 54px 53px 49px 101px;
  border-radius: 40px;
  background: #EAF2F5;
}
.helpAndSupport .infoTextArea h3 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 18px;
}
.helpAndSupport .infoTextArea .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.helpAndSupport .infoTextArea .text p {
  font-size: 16px;
  line-height: 25px;
}
@media all and (max-width: 768px) {
  .helpAndSupport .infoTextArea {
    padding: 38px 20px 37px 23px;
  }
  .helpAndSupport .infoTextArea h3 {
    font-size: 20px;
    line-height: 19px;
  }
  .helpAndSupport .infoTextArea .text {
    gap: 18px;
  }
  .helpAndSupport .infoTextArea .text p {
    font-size: 12px;
    line-height: 17px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 18px;
}
.gallery a {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
@media (hover: hover) {
  .gallery a:hover img {
    transform: scale(1.05);
  }
}
.gallery .galleryItem.big {
  grid-row: span 2;
}
.gallery .galleryItem img {
  width: 100%;
  height: 100%;
}
@media all and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 12px;
  }
  .gallery .galleryItem.big {
    grid-column: 1/-1;
    grid-row: auto;
  }
}

#map {
  height: 423px;
}
@media all and (max-width: 768px) {
  #map {
    height: 415px;
  }
}

footer {
  margin-top: 60px;
}
@media all and (max-width: 1366px) {
  footer {
    padding: 0 13px;
  }
}
footer .footerContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}
@media all and (max-width: 768px) {
  footer .footerContent {
    flex-direction: column;
    align-items: center;
    gap: 23px;
    margin-bottom: 32px;
  }
}
footer .leftSide {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .leftSide .logo {
  display: flex;
  align-items: center;
  max-width: 257px;
  gap: 10px;
}
footer .leftSide .logo img {
  width: 96px;
}
footer .leftSide .logo p {
  color: #8E8E8E;
  font-size: 16px;
  line-height: 19px;
}
@media all and (max-width: 768px) {
  footer .leftSide .logo {
    gap: 8px;
  }
}
footer .leftSide .social {
  display: flex;
  gap: 16px;
}
footer .leftSide .social svg {
  fill: var(--main-color);
  transition: fill 0.5s;
}
@media (hover: hover) {
  footer .leftSide .social svg:hover {
    fill: var(--orange);
  }
}
@media all and (max-width: 768px) {
  footer .leftSide .social {
    justify-content: center;
  }
}
footer .rightSide {
  display: flex;
  gap: 166px;
}
footer .rightSide .navList {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .rightSide .navList a {
  font-size: 13px;
  line-height: 104%;
}
footer .rightSide .contactsList {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
footer .rightSide .contactsList li:nth-of-type(1) a {
  color: var(--blue);
}
@media all and (max-width: 768px) {
  footer .rightSide {
    flex-direction: column;
    gap: 43px;
    text-align: center;
  }
}
footer .footerUserInfo {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 26px;
  border-top: 1px solid #D8D8D8;
}
footer .footerUserInfo .copyright {
  font-size: 16px;
  line-height: 23px;
  color: #8E8E8E;
}
@media all and (max-width: 768px) {
  footer .footerUserInfo .copyright {
    font-size: 12px;
    line-height: 23px;
    margin-bottom: 13px;
  }
}
footer .footerUserInfo .legalLinks {
  display: flex;
  gap: 64px;
}
footer .footerUserInfo .legalLinks a {
  font-size: 16px;
  line-height: 23px;
  color: #8E8E8E;
}
@media all and (max-width: 768px) {
  footer .footerUserInfo .legalLinks {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
  footer .footerUserInfo .legalLinks a {
    font-size: 12px;
    line-height: 23px;
    color: var(--orange);
  }
}
@media all and (max-width: 768px) {
  footer .footerUserInfo {
    padding: 25px 0 27px;
    flex-direction: column;
    text-align: center;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}
.overlay .modalForm {
  width: 635px;
  background: #FFFFFF;
  padding: 80px 52px 80px 53px;
}
.overlay .modalForm h3 {
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 46px;
}
.overlay .modalForm .fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.overlay .modalForm .fieldWrapper label {
  font-weight: 500;
  font-size: 16px;
}
.overlay .modalForm .fieldWrapper input, .overlay .modalForm .fieldWrapper textarea {
  border: 1px solid #9F9F9F;
  border-radius: 10px;
  padding: 28px 31px;
  font-weight: 400;
  font-size: 16px;
  color: inherit;
}
.overlay .modalForm .fieldWrapper textarea {
  height: 120px;
  resize: none;
}
@media all and (max-width: 768px) {
  .overlay .modalForm {
    padding: 15px;
  }
  .overlay .modalForm .fieldWrapper input, .overlay .modalForm .fieldWrapper textarea {
    padding: 15px;
  }
}
.overlay p {
  margin: 16px 0 25px;
  color: #9F9F9F;
  max-width: 345px;
}
.overlay p a {
  color: var(--orange);
}

/*# sourceMappingURL=style.css.map */
